#analysis-page {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
  margin: 0;
}

#charts {
  display: grid;
  align-items: start;
  gap: 3rem;
  margin: 3rem 0;

  .card:nth-child(odd) {
    .card-header {
      flex-direction: row-reverse;
    }

    .card-body {
      flex-direction: row-reverse;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
