header {
  background-color: linear-gradient(
    to bottom right,
    hsla(229, 8%, 60%, 0.1),
    transparent
  );
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 15rem);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 0 auto;
    height: 5rem;

    #logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--text-color);
    }

    ul {
      display: flex;
      gap: 1rem;

      li {
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav {
      #logo {
        font-size: 1.2rem;
      }
    }
  }
}
