@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,600&family=Salsa&family=Signika:wght@300;400;500;600&family=Sue+Ellen+Francisco&display=swap');

:root {
  --back-color: #25272a;
  --nav-back-color: #101317;
  --pri-color: #dd0b78;
  --sec-color: #ef1083;
  --link-color: #ff33b8;
  --ter-color: #00b3ff;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  transition: all 0.3s ease-in-out;
}

a,
a:link,
a:active,
a:visited {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color);
  }
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
}

input {
  border: none;
  font-family: 'Signika', sans-serif;
  width: 15rem;
  height: 2rem;
  outline: 1px solid var(--text-color);
  background-color: var(--back-color);
  color: var(--text-color);
  border-radius: 0.3rem;
  padding: 0 1rem;
  // margin-bottom: 1rem;
}

input:focus {
  outline: 1px solid var(--pri-color);
}

body {
  background-color: var(--back-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Salsa', cursive;
  color: var(--text-color);
}

// flex-column-center mixin
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// font-family: 'Kanit', sans-serif;
// font-family: 'Salsa', cursive;
// font-family: 'Signika', sans-serif;
// font-family: 'Sue Ellen Francisco', cursive;

#main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  #main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
    overflow: auto;
    z-index: 3;
  }
}
