@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,600&family=Salsa&family=Signika:wght@300;400;500;600&family=Sue+Ellen+Francisco&display=swap');

:root {
  --back-color: #25272a;
  // --pri-color: #ff33b8;
  --pri-color: #dd0b78;
  --sec-color: #ef1083;
  --ter-color: #00b3ff;
  --font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  transition: all 0.3s ease-in-out;
}

a,
a:link,
a:active,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--pri-color);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
}

input {
  border: none;
  outline: none;
  font-family: 'Signika', sans-serif;
}

body {
  background-color: var(--back-color);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Salsa', cursive;
}

// font-family: 'Kanit', sans-serif;
// font-family: 'Salsa', cursive;
// font-family: 'Signika', sans-serif;
// font-family: 'Sue Ellen Francisco', cursive;
