main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 30rem;
    height: 3rem;
    outline: 1px solid var(--font-color);
    background-color: var(--back-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  input:focus {
    outline: 1px solid var(--pri-color);
  }

  button {
    width: 30rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--btn-color);
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 500;
  }

  button:hover {
    background-color: var(--pri-color);
  }
}

@media (max-width: 768px) {
  .hero {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  form {
    input {
      width: 20rem;
    }

    button {
      width: 20rem;
    }
  }
}

@media (max-width: 480px) {
  .hero {
    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  form {
    input {
      width: 15rem;
    }

    button {
      width: 15rem;
    }
  }
}
