.report-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  aside {
    background-color: var(--nav-back-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 250px;
    height: 100%;
    padding: 20px;

    .aside-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        margin: 10px 0;
      }
    }
  }

  .report-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 250px);
    height: 100%;
    padding: 20px;
    overflow: auto;
    z-index: 3;
  }
}
