form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 30rem;
    height: 3rem;
    outline: 1px solid var(--text-color);
    background-color: var(--back-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  input:focus {
    outline: 1px solid var(--pri-color);
  }

  button {
    width: 30rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--pri-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
  }

  button:hover {
    background-color: var(--sec-color);
  }
}

@media (max-width: 768px) {
  form {
    input {
      width: 20rem;
    }

    button {
      width: 20rem;
    }
  }
}

@media (max-width: 480px) {
  form {
    input {
      width: 15rem;
    }

    button {
      width: 15rem;
    }
  }
}
